body {
  --bs-light-rgb: 48,73,95;
  background: url("/wod-buzzs-background.jpg") no-repeat center center fixed;
  background-size: cover;
}

#topMenu {
  --bs-navbar-brand-color: white;
  --bs-gutter-x: 0;
}

.white {
  color: white !important;
  --bs-nav-link-color: white !important;
  --bs-nav-link-hover-color: grey !important;
}

footer {
  background-color: white;
  font-family: 'Noto Serif', serif;
}
